@import "../../colormap.scss";

.header {
  width: 100%;
  height: 100px;
  background-color: $black1;

  &.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.block-logo {
        width: 120px;
      }
      &.block-nav {
        width: 240px;
      }
      &.block-contact {
        width: 140px;
      }
    }

    .navlink {
      outline: none;
      height: 30px;
      text-decoration: none;
      box-sizing: border-box;

      &.active {
        color: $cyan;
        border-bottom: 2px solid $cyan;
      }
    }

    .text {
      padding: 5px 0;
      font-size: 0.9em;
      font-weight: 600;
      font-family: Sans-serif;
      color: $white1;
      transition: color 0.4s;
      cursor: pointer;

      &:hover {
        color: $cyan;
      }
    }
  }

  &.mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .block {
      width: 300px;
    }
  }
}
