@import "../../colormap.scss";
@import "../../mixins.scss";

@include keyframes(hide-text) {
  0% {
    padding-top: 5px;
    visibility: visible;
  }
  100% {
    padding-top: 55px;
    visibility: hidden;
  }
}

@include keyframes(show-text) {
  0% {
    padding-top: 55px;
    visibility: hidden;
  }
  100% {
    padding-top: 5px;
    visibility: visible;
  }
}

@include keyframes(hide-nav) {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@include keyframes(hide-section) {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@include keyframes(show-section) {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@include keyframes(hide-header) {
  0% {
    position: sticky;
  }
  100% {
    position: relative;
  }
}

// Да простят меня за это...
// ps во славу анимации без js
$navblock-width: 270px;
$home-width: 48.6px;
$skills-width: 57.61px;
$projects-width: 87.33px;

$sum-width: calc($home-width + $skills-width + $projects-width);
$dif-width: calc(($navblock-width - $sum-width) / 2);

@mixin change_nav($name, $from, $to) {
  $sum-w: (
    htp: $navblock-width,
    pth: $navblock-width,
    sth: calc($home-width + $skills-width + $dif-width),
    hts: calc($home-width + $skills-width + $dif-width),
    stp: calc($projects-width + $skills-width + $dif-width),
    pts: calc($projects-width + $skills-width + $dif-width),
    flash: $navblock-width,
  );
  $left-indent: (
    home: 0,
    skills: calc($home-width + $dif-width),
    projects: calc($home-width + $skills-width + 2 * $dif-width),
    nav_start: 0,
    nav_end: $navblock-width,
  );
  $widths: (
    home: $home-width,
    skills: $skills-width,
    projects: $projects-width,
    nav_start: 0,
    nav_end: 0,
  );

  $left-from: map-get($left-indent, $from);
  $left-to: map-get($left-indent, $to);

  @keyframes #{$name} {
    0% {
      left: $left-from;
      width: map-get($widths, $from);
    }
    50% {
      left: min($left-from, $left-to);
      width: map-get($sum-w, $name);
    }
    100% {
      left: $left-to;
      width: map-get($widths, $to);
    }
  }
}

@include change_nav(htp, home, projects);
@include change_nav(hts, home, skills);
@include change_nav(sth, skills, home);
@include change_nav(stp, skills, projects);
@include change_nav(pth, projects, home);
@include change_nav(pts, projects, skills);
@include change_nav(h, home, home);
@include change_nav(s, skills, skills);
@include change_nav(p, projects, projects);

@include keyframes(flash-in) {
  0% {
    left: 0;
    width: 0;
  }
  20% {
    left: 0;
    width: $navblock-width;
  }
  80% {
    left: 0;
    width: $navblock-width;
  }
  100% {
    left: $navblock-width;
    width: 0;
  }
}
@include keyframes(flash-out) {
  0% {
    left: $navblock-width;
    width: 0;
  }
  20% {
    left: 0;
    width: $navblock-width;
  }
  80% {
    left: 0;
    width: $navblock-width;
  }
  100% {
    left: 0;
    width: 0;
  }
}
.header {
  width: 100%;
  height: 100px;
  font-size: 1rem;

  &.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    &.show {
      .block-nav {
        &:after {
          @include animation(1.2s flash-in forwards);
        }

        .text {
          visibility: hidden;
          &.home {
            @include animation(0.2s 0.3s show-text forwards);
          }
          &.skills {
            @include animation(0.5s 0.3s show-text forwards);
          }
          &.projects {
            @include animation(0.8s 0.3s show-text forwards);
          }
        }
      }
      .block.block-contact {
        visibility: hidden;
        @include animation(0.4s 0.2s show-section forwards);
      }
    }

    &.hide {
      @include animation(0.1s 1s hide-header forwards);

      .block-nav {
        &:after {
          @include animation(1s flash-out forwards);
        }
        &:before {
          height: 0;
        }

        .text {
          padding-top: 5px;
          &.home {
            @include animation(0.3s 0.3s hide-text forwards);
          }
          &.skills {
            @include animation(0.3s 0.3s hide-text forwards);
          }
          &.projects {
            @include animation(0.3s 0.3s hide-text forwards);
          }
        }
      }
      .block.block-contact {
        visibility: visible;
        @include animation(0.4s 0.2s hide-section forwards);
      }
    }

    .block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .block-logo {
      width: 120px;
    }
    .block-nav {
      width: $navblock-width;
      position: relative;
      overflow-y: hidden;

      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: 0;
        background: $cyan;
        transition: 0.5s;
      }

      &.htp:before {
        @include animation(0.6s htp forwards);
      }
      &.pth:before {
        @include animation(0.6s pth forwards);
      }
      &.hts:before {
        @include animation(0.6s hts forwards);
      }
      &.sth:before {
        @include animation(0.6s sth forwards);
      }
      &.pts:before {
        @include animation(0.6s pts forwards);
      }
      &.stp:before {
        @include animation(0.6s stp forwards);
      }

      &.h:before {
        @include animation(0.2s 1s h forwards);
      }
      &.s:before {
        @include animation(0.2s 1s s forwards);
      }
      &.p:before {
        @include animation(0.2s 1s p forwards);
      }
    }
    .block-contact {
      width: 140px;
      color: $white1;
    }

    .navlink {
      outline: none;
      height: 30px;
      text-decoration: none;
      box-sizing: border-box;
      color: $white1;
      transition: 0.4s;
      display: block;
      transition: visibility 0.2s;
      transition: border-bottom 0.5s;

      &.active {
        color: $cyan;
      }
    }

    .text {
      padding: 0;
      padding-top: 5px;
      font-size: 0.9em;
      font-weight: 600;
      font-family: Sans-serif;
      transition: color 0.4s;
      cursor: pointer;

      &.home {
        width: $home-width;
      }
      &.skills {
        width: $skills-width;
      }
      &.projects {
        width: $projects-width;
      }

      &:hover {
        color: $cyan;
      }
    }
  }

  &.mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .block {
      width: 300px;
    }
  }
}
